/* Main Post */

.main__post {
    width:100%;
    height:100%;
}

.container__main__post {
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content:center;
}

.items__post {
    max-width: 50%;
}

.img__post {
    max-width: 50%;
} 

.img__post img {
    width:75%;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
}

.items__post h1 {
    font-size: 40px;
    text-transform: capitalize;
    color: white;
}

.items__post p {
    color: white;
    margin-bottom: 5px;
}

.items__post {
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.items__post a {
    display: block;
    text-decoration: none;
    color: white;
    background: var(--bottonItemHeader);
    text-transform: capitalize;
    border-radius: 20px;
    padding: 2px 20px;
    font-weight: 600;
    margin-bottom: 5px;
    transition: box-shadow .1s ease-in;
}

.items__post a:hover {
    box-shadow: 0 0 20px  var(--bottonItemHeader);
}


/* Contenido de la pagina */

.container__contenido {
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../svg/Vector.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.buy__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Elemento */

.buy__block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:400px;
    height:350px;
    margin:30px 20px;
    border-radius:5px;
    box-shadow: 0 0 10px -5px;
    /* padding: 20px 20px; */
}

.buy__img {
    width:100%;
    height:200px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.buy__img img {
    width:60%;
    cursor: pointer;
}

.info__buy {
    width:100%;
    padding: 5px;
}

.buy__botton {
    width:100%;
    padding: 0 10px;
    display: flex;
    justify-content: right;
    margin-top: 40px;
}

.buy__content h5 {
    width:80px;
    border-radius: 20px;
    text-align: center;
    display: block;
    padding: 3px;
    background: #4E9F3D;
    color: white;
    user-select: none;
    cursor: pointer;
}

.info__buy h3 {
    font-weight: 600;
    margin-bottom: 10px;
}

.info__buy h4 {
    font-weight: 500;
}

.info__buy span {
    color: #4E9F3D;
    user-select: none;
}

/* Estilos Slider */

.container-slider{
    width: 90%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 20px -10px;
    position: relative;
    border: solid 5px white;
}

.slider {
    width:400%;
    height:400px;
    display: flex;
    margin-left: -100%;
}

.slider__seccion {
    width:100%;
}

.slider__img {
    width:100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.slider__btn {
    position:absolute;
    width:40px;
    height:40px;
    background-color:white;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__btn:hover {
    background: #9D9D9D;
    color: white;
}

.slider__btn--left {
    left: 10px;
}

.slider__btn--right {
    right: 10px;
}

/* Contenido publicitario */

.container__publicitario {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #FF2442 0%, #CE1212 100%);
}

.content__publicitario {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post__public {
    width:400px;
    height:320px;
    position:relative;
    box-shadow: 0 0 10px -5px;
    border-radius:10px;
    background: #fff;
    margin-top: 130px;
}

.image__vector {
    width:100%;
    position:absolute;
    bottom:10px;
}

.item__post__public {
    width:100%;
    height:100%;
    background: #4E9F3D;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.image__item__post {
    width:75%;
    position:absolute;
    bottom: 100px;
}

.title__publicitario {
    z-index: 2;
}

.container__title {
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.title__publicitario {
    font-size: 1.6em;
    text-transform: capitalize;
    text-align: center;
}

.title__publicitario span {
    color: #FF9300;
}

.blockTitle {
    margin: auto;
    width: 95%;
}

.blockTitle h2 {
    text-align: center;
    color: white;
    font-size: 2em;
}

/* Gallery ligthbox */

.gallery {
    padding-bottom: 1em;
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 160px;
    gap: 10px;
    grid-template-areas: 
    "img1 img1 img2 img3"
    "img1 img1 img4 img4"
    "img5 img5 img6 img7"
    "img5 img5 img8 img8";
    margin: 0 10px;
}

.gallery__picture {
    position: relative;
    cursor: pointer;
    overflow:hidden;
}

.gallery__picture::before{
    content:"View";
    position:absolute;
    left: 0;
    right:0;
    top: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.575);
    opacity: 0;
    transition: all .4s;
    color:white;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 10px;
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery__picture:hover::before{
    opacity: 1;
    width:100%;
}

.gallery__picture--g1 {
    grid-area: img1;
}

.gallery__picture--g2{
    grid-area: img2;
}

.gallery__picture--g3 {
    grid-area:img3
}

.gallery__picture--g4 {
    grid-area:img4
}

.gallery__picture--g5 {
    grid-area: img5;
}

.gallery__picture--g6 {
    grid-area:img6
}

.gallery__picture--g7 {
    grid-area:img7
}

.gallery__picture--g8 {
    grid-area:img8
}

.gallery__img {
    width:100%;
    height:100%;
    object-fit: cover;
}

/* Section Ubication */

.ubication {
    width:100%;
    height:100vh;
}

.container__ubication {
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.containerONE {
    width:50%;
    height:100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/Img\ ubication.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.containerimg {
    width:50%;
}

.titleUbication {
    position:absolute;
    font-size: 2rem;
    width:40%;
    text-transform: capitalize;
}

.imgUbication {
    animation: infinite 3s ubiAnimation;
    width:80%;
}

@keyframes ubiAnimation {
    0%{
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px)
    }

    100% {
        transform: translateY(-10px)
    }
}

/* Footer estiles */

footer {
    width:100%;
    height:100%;
    background: #c2c2c2;
}

.container__footer {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c2c2c2;
    height:400px;
}

.containerPerfil {
    margin: 0 30px;
    width:200px;
    height:200px;
    background-image: url(../img/Cheft\ mujer\ log.png);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    border-radius:50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 3px white;
}

.items {
    width:218px;
    height:218px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
}

.user {
    position:absolute;
    bottom:-40px;
    font-size: 1.2em;
}

.containerPerfil img {
    width:100%;
    border-radius: 50%;
    border: solid 4px white;
    object-fit: cover;
}

.containerContac {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts {
    width:200px;
    height:200px;
    margin: 0 30px;
    padding: 3px;
}

.contacts h2 {
    margin: 5px 0;
}

.contacts ul {
    list-style:none;
}

.contacts li {
    padding: 10px 0;
}

.direction {
    width:100%;
    height:200px;
    background-image: url(../svg/Vector\ Footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__direction {
    width:100%;
    margin: 20px;
}

.container__direction p {
    color:#95A5A6;
    margin: 15px 0;
}

.container__direction h2 {
    font-size: 1.1em;
}