/* Responsy Menu 1400 - 300px */

@media screen and (max-width:1400px){

        /* Elementos ocultos temporalmente */

        .container__nav {
            display: block;
        }
        
        .container__input {
            display: block;
        }
    
        .dark__mode {
            display: block;
        }
    
        .logIn__register {
            display: none;
        }

        .menu-Icon {
            display:block;
        }

        .signIc {
            display: block;
        }

        .iconUsers {
            display: block;
        }

        .iconSearch {
            display: block;
        }

        /* Header de 1400px */

        .menu__container__header {
            width:40%;
        }

        /* Logo */

        .logo {
            position: absolute;
            left: 50px;
            top: 7px;
        }
        
        .menu-Icon {
            position: absolute;
            right:13px;
        }

        .menu-Icon .bx-menu {
            font-size: 1.5em;
            display: flex;
            cursor: pointer;
        }

        .container__alert {
            position: absolute;
            right:40px
        }

            /* !Menu movil */

    .menu__container__header {
        height: 45px;
        top: 20px;
        display: block;
        padding-top: 10px;
        transition: all .3s ease-out;
        overflow: hidden;
    }

    .done {
        height: 350px;
    }

    .done.ligthBlack {
        opacity: 1;
    }

    /* Acomodamos los elementos ocultos */

    .container__nav {
        width: 220px;
        height: 100%;
        display: block;
        opacity: 0;
        transition: opacity .2s ease-in;
    }

    .nav {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .content__nav {
        flex-direction: column;
    }
    
    .content__nav li {
        margin:20px 10px;
    }

    .content__nav li a {
        background-color:#6ECB63;
        color:white;
        border-radius: 20px;
        padding: 0 10px;
        display: block;
        text-align: center;
    }

    .menu-Icon {
        top: 10px;
        right: 10px;
    }

    .container__alert {
        top: 10px;
        right:40px;
    }

    /** Buscador */

    .container__input{
        position: absolute;
        width:0;
        top: 50px;
        right:5px;
        transition: all .3s ease;
        transform: translate(120%);
        opacity: 0;
    }

    .showInput {
        transform: translateX(0);
        opacity: 1;
        width: 230px;
        background: white;
        padding: 5px 10px;
        z-index: 10;
        box-shadow: 0 0 10px -5px;
        
    }

    .container__input input[placeholder]{
        display: block;
    }

    .--onSearch {
        top: 55px;
        right: 10px;
        position: absolute;
        font-size:1.3em;
        cursor: pointer;
        z-index: 11;
    }

    .bx-search {
        display: none;
    }

    .dark__mode {
        display:block;
        position:absolute;
        top: 50px;
        left: 80px;
    }

    .iconUsers {
        position: absolute;
        top: 40px;
        left: 50px;
    }

    .iconUsers .user {
        width:30px;
    }

    .signIc {
        position: absolute;
        top: 50px;
        left: 90px;
    }

    .signIc .login {
        width:30px;
    }

    /* LigthBox Responsy */

    .img-light {
        flex-direction: column-reverse;
    }

    .agregarImagen {
        width: 90%;
        height: 500px;
    }

    .close {
        margin-top: 20px;
    }

}

@media screen and (max-width:1120px){

    /* Acomodamos de tamaño la imagen pricipal */

    .img__post img {
        width:60%;
    }

    /* Contenido publicitario */

    .post__public {
        margin: 0 10px;
        width:390px;
    }
}

@media screen and (max-width:1040px){

    /* !Acomodamos el footer de forma vertical */

    .container__footer {
        flex-direction: column;
    }

    /* Acomodamos el user del footer */

    .containerPerfil {
        margin-top: 100px;
        margin-bottom: 80px;
    }

    .container__direction {
        margin-top: 120px;
    }

    .img__post {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:800px){

    /* Acomodamos el footer de forma vertical */

    .containerContac {
        flex-direction: column;
    }

    .container__footer {
        height:100%;
    }

    /* Acomodamos el heigth del slider */

    .slider {
        height:100%;
    }

    /* Acomodamos la vista principal */

    .img__post img {
        display: none;
    }

    .items__post {
        max-width: 95%;
    }

    .container__main__post {
        height:80%;
    }

    /* *Ancho del Menu */

    .menu__container__header {
        width:80%;
    }

}

/* *Direccion vertical para el contentpublic */

@media screen and (max-width:600px){

    .content__publicitario {
        flex-direction: column;
    }

    .item__post__public img {
        width:50%;
    }

    .post__public {
        width:290px;
        margin-top: 20px;
    }

    .container-slider {
        margin-bottom: 20px;
    }
    
    .slider {
        height:100%;
    }

    .agregarImagen {
        width: 90%;
        height: 400px;
    }

}

/* Resposive 500px */

/* Menu */

@media screen and (max-width:500px){

    header {
        width:100%;
        height: 100%;
    }


    /* Acomodamos el logo y notificaciones */

    .logo {
        position: absolute;
        left:40px;
        top: 8px;
    }

    .container__alert {
        position: absolute;
        right: 10px;
    }

    /* Acomodamos el Main Post */

    .img__post {
        display: none;
    }

    .main__post {
        width:100%;
    }

    .container__main__post {
        width:100%;
        height:80%;
    }

    .items__post {
        max-width: 90%;
        height:300px;
        background-color: rgba(0, 0, 0, 0.301);
        border-radius: 10px;
    }

    /* Tamaño de fuente */

    .items__post h1 {
        font-size: 1.8em;
        margin: 10px 0;
    }

    .items__post p {
        font-size: 0.8em;
    }

    /* Boton */

    .items__post a {
        font-size:0.8em
    }

    /* Menu */
    
    .menu-Icon {
        display: flex;
        position: absolute;
        right: 40px;
    }

    .bx-menu {
        font-size:1.8em;
    }

    /* Contenido.. */

    .container__contenido {
        width:100%;
        height:100%;
    }

    /* Contenido publicitario */

    .content__publicitario {
        flex-direction: column;
    }

    .post__public {
        margin-bottom: 20px;
        width:300px;
    }

    .image__item__post {
        width:70%;
    }

    /*Compras y ventas */

    .buy__img img {
        width:50%;
    }

    /* Slider */

    .slider {
        height:100%;
    }

    .container-slider {
        margin-bottom: 20px;
    }

    /* Gallery */

    .gallery {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "img1 img1"
        "img1 img1"
        "img2 img3"
        "img4 img4"
        "img5 img5"
        "img5 img5"
        "img6 img7"
        "img8 img8"
        "img8 img8"
    }

    /* Seccion Ubication */

    .titleUbication {
        font-size:1.5em;
    }

    /* ! Header de 1400px */

    .menu__container__header {
        width:90%;
    }

    /* Footer */

    .containerContac {
        flex-direction: column;
    }

    .container__footer {
        flex-direction: column;
    }

    .containerPerfil {
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .contacts h2 {
        margin: 20px 0;
    }

    .contacts ul {
        margin: 20px 0;
    }

    .container__footer {
        height:100%;
    }


    /* Direccion Footer */

    .direction {
        height:220px;
    }



}

/* Responsive 400px */

@media screen and (max-width:400px){

    /* Ubication */

    .container__ubication {
        flex-direction: column;
    }

    .containerONE {
        width:95%;
        height:50%;
    }

    .titleUbication {
        width:80%;
        text-align: center;
    }

    .containerimg {
        width:70%;
    }

    /* Compras y ventas (elementos) */

    .buy__block {
        width:95%;
    }

    .blockTitle h2 {
        font-size:1.5em;
    }

    /* Footer */

    .user h3 {
        font-size:1em;
    }

    .contacts h2 {
        font-size:1.1em
    }

    .agregarImagen {
        width: 90%;
        height: 300px;
    }

}

@media screen and (max-width:300px){

    .post__public {
        width:260px;
    }

    .title__publicitario {
        font-size: 1.4em
    }
}